/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #3f3f3f;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #3f3f3f;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .tgl-btn{
      margin-top:5px;
  }
.access_code{
    margin-top:10px;
}

.complete .Polaris-Badge{
    background:#70ffa6;
}

.failed .Polaris-Badge{
    background-color:#FAC9A8;
}

.view_order_btn{
    margin-left:5px;
}
.btn_div{
    display:flex;
}

.div_json{
    overflow-y: auto;

}
.label_editor{
    margin-top: 10px;
}
